@font-face {
  font-family: 'Northwell';
  src: url('../images/Northwell.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Monsterrat';
  src: url('../images/Montserrat-Regular.otf'); /* IE9 Compat Modes */
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body { 
  background: #cdd7dd;
  box-sizing: border-box;
  font-size: 16px;
  color: #373737;
  font-family: Monsterrat, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #373737;
}

ul { padding: 0; }

li {
  list-style: none;
}

/*HAMBURGER MENU*/

body h1 > span {
  text-transform: none;
  opacity: .5;
  font-weight: 300;
  font-size: 50px;
}

label div {
  width: 40px;
  height: 50px;
  margin-left: 20px;
}

body input + label {
  position: absolute;
  top: 40px;
  right: 10%;
  height: 20px;
  width: 30px;
  z-index: 5;
}

.burger {
  visibility: hidden;
}

body input + label span {
  position: absolute;
  width: 80%;
  height: 1px;
  margin-top: -1px;
  left: 100%;
  display: block;
  background: #bbb;
  transition: .5s;
  border-radius: 20%;
}

body input + label span:first-child {
  top: 10px;
}

body input + label span:last-child {
  top: 20px;
}

body label:hover {
  cursor: pointer;
}

body input:checked + label span {
  opacity: 0;
  top: 100%;
}

body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
  background: black;
}

body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
  background: black;
}

/*white bar */

body input ~ nav {
  background: #ffffff;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden;
}

body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 20%;
  right: 20%;
  font-size: 2.3rem;
}

body input ~ nav > ul > li {
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
}

body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-family: Northwell;
  display: block;
  margin: 30px;
}

body input:checked ~ nav {
  height: 120%;
  transition-delay: 0s;
}

body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: .5s;
}


/*HEADER*/
.header {
  background: white;
  width: 100%;
}

.header-nav { display: none; }

.app-logo {
  width: 15rem;
  height: auto;
  padding: 25px 9px 25px 15px;
}


/*HOME!!!!*/

.home {
  background: white;
}

.swiper-button-pre svg {
  fill: black;
}

.img-contain {
  background: url('https://firebasestorage.googleapis.com/v0/b/casey-conroy.appspot.com/o/casey-backchair-min.jpg?alt=media&token=7bf820fe-938c-42b3-875a-46424e3ea270') no-repeat;
  width: 100vw;
  height: 100vh;
  background-position: 50% 60%;
  background-size: cover;
}

.swiper-container {
  height: 10rem;
  margin-top: .2rem;
}

.img1 {
  background: url('https://firebasestorage.googleapis.com/v0/b/casey-conroy.appspot.com/o/image-2-min.jpg?alt=media&token=20f3f845-d5ed-4786-ae3d-b0310430679d') no-repeat;
  background-size: cover;
  background-position: 30%;
}
.img2 {
  background: url('https://firebasestorage.googleapis.com/v0/b/casey-conroy.appspot.com/o/image-3-min.jpg?alt=media&token=37e60a93-4afc-4965-b6df-64850fceb866') no-repeat;
  background-size: cover;
  background-position: 30%;
  
}
.img3 {
  background: url('https://firebasestorage.googleapis.com/v0/b/casey-conroy.appspot.com/o/image-1-min.jpg?alt=media&token=ee67a5f3-dc69-4dfd-89ad-d6ce2d1042c7') no-repeat;
  background-size: cover;
  background-position: 50%;
}
.img4 {
  background: url('https://firebasestorage.googleapis.com/v0/b/casey-conroy.appspot.com/o/image-4-min.jpg?alt=media&token=a9fb5e44-649a-4a77-bc33-9e70499dc4a5') no-repeat;
  background-size: cover;
  background-position: 50%;
  
}
.img5 {
  background: url('https://firebasestorage.googleapis.com/v0/b/casey-conroy.appspot.com/o/image-5-min.jpg?alt=media&token=dec53ba4-c347-4b8a-81f4-dd0e5216f194') no-repeat;
  background-size: cover;
  background-position: center;
}

.img6 {
  background: url('https://firebasestorage.googleapis.com/v0/b/casey-conroy.appspot.com/o/cameraeye-min.jpg?alt=media&token=553c9552-9026-41ab-8066-73373da232fe') no-repeat;
  background-size: cover;
  background-position: center
}

.footer-contain {
  background: white;
}

.footer {
  display: flex;
  justify-content: center;
  
}

.social-nav {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 40px 0 30px 0;
}

.social-nav li {
  padding: 10px;
  font-size: 1.5rem;
}

.footer-nav {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*BIO!!!!*/

.bio-img {
  width: 100%;
}

.bio {
  background: #cdd7dd;  
}

.bio-contain {
  width: 89%;
  margin: 1.8rem auto 0 auto;
  line-height: 1.9rem;
  font-size: .9rem;
  opacity: .8;
  color: #222;
}

.bio-content p {
  padding-bottom: 10px;
}

.signature {
  width: 98%;
  max-width: 300px;
}

/*WORK!!!!*/


.work-cards {
  padding: 3rem 0 3rem 0;
  background: #cdd7dd;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  align-content: space-between;
}

.card-contain {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
}

.top-card {
  width: 100%;
  height: 60%;
}

.song-title {
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

.listen-contain {
  display: flex;
  height: 85px;
  margin-top: 1rem;

}

.listen {
  font-weight: bold;
  font-size: 1rem;
}

.flip-container {
  display: none;
}

ul {
  margin: 0;
}

.listen-contain li {
  display: inline;
  padding-left: 25px;
}

/*INDIVIDUAL SONG*/
.first-song {
  width: 100%;
  margin-top: 10%;
}

.first-song-contain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.album-title {
  font-size: 2rem;
}

.album-cover {
  width: 22rem;
  height: 22rem;
}

table {
  background: #f7f7f7;
  margin-bottom: 10%;
}

tr {
  color: #353535;
  height: 70px;
}

td {
  border-bottom: 1px solid #e3e3e3;
  
}

tr:hover {
  background: #353535;
  cursor: pointer;
  color: white;
}

/*
.Collapsible__trigger {
  font-size: 2rem;
}

.Collapsible__trigger:hover {
  cursor: pointer;
}

.Collapsible__contentInner {
  width: 96%;
  margin: 0 auto;
  background: transparent;
}

.Collapsible__contentOuter {
  background: transparent;
} */

.top-line {
  width: 70%;
  border-top: 1px  solid #50373737;
  margin: 0 auto;
}

.bottom {
  margin-bottom: 20px;
}



.Collapsible__contentInner {
  padding: 10px;
  border-top: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: .9rem;
  line-height: 20px;
  color: #373737;
  text-align: center;
  
}

.Collapsible__trigger {
  /* border-top: 1px #50373737 solid; */
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 19px;
  color: #373737;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 2px;
  text-align: center;
}

.connect {
  height: 100vh;
  background: white;

}

.connect-img {
  display: none;
}

.spotify-player {
  display: none;
}

/*
.form {
  width: 20rem;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 50px;
} */

.input-wrapper {
  width: 80%;
  margin: 3rem auto 3rem auto;
}
.form {
  height: 60px;
  width: 100%;
  min-width: 100%;
  padding: 0;
  border-radius: 0;
  line-height: 70px;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  font-family: Monsterrat, Helvetica, sans-serif;
}

.form::placeholder {
  color: black;
}

.message {
  height: 100px;
  line-height: 35px;
}

.send {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  background: linear-gradient(141deg, #e9c5d3 0%, #f5ced9 51%, #f9d3df 75%);
  border: none;
  font-family: Monsterrat;
  font-size: 1.3rem;
  color: white;
  border-radius: 1px;
  border-bottom: 500px; 
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
  border: 1px solid black;
}

.copy {
  opacity: .3;
  font-size: .8rem;
  text-align: center;
}

.me {
  font-size: .7rem;
}






/*///////////*/
/*QUERIES!!!!*/
/*//////////*/

@media all and (min-width: 632px) {
  .work-cards {
    padding: 11rem 0;
  }
}

@media all and (min-width: 640px) {
  .album-cover {
    width: 25rem;
    height: 25rem;
  }
}

@media all and (min-width: 768px) {
  .header-nav {
    float: right;
    display: flex;
    width: 40%;
    height: 5.8rem;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 10px;
  }

  .bio-img {
    width: 80%;
  }

  .work-cards {
    width: 100vw;
    height: 100%;
    background-position: 50% 60%;
    background-size: cover;
    padding: 13rem 0;
  }

  .nav {
    color: rgba(180, 179, 179, 0.719);
    /* text-transform: uppercase; */
    font-size: 2rem;
    font-family: Northwell, Arial, Helvetica, sans-serif;
  }


  .is-active {
    color: black;
    font-weight: bold;
    
  }

  label {
    display: none;
  }

  .signature {
    width: 30%;
    margin-right: 50px;
    margin-bottom: 83px;
  }

  .swiper-container {
    height: 12rem;
  }

  .connect-content {
    margin: 0 auto 21rem;
  }

  .card-contain {
    display: none;
  }

  .flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    display: block;
  
  }
  
    .flip-container:hover .flipper,  
    .flip-container.hover .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  
  .flip-container, .front, .back {
    width: 20rem;
    height: 20rem;
    margin-bottom: 20px;
  }
  
  .flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
  
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
  
    transition: 0.6s;
    transform-style: preserve-3d;
  
    position: relative;
  }
  
  .front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  
    background: #000;
  }
  
  
  
  .back-title {
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  .back-type {
    color: #fff;
    position: absolute;
    top: 12.5rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
  }

  .listen-back {
    display: flex;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 16.5rem;
    left: 0;
    right: 0;
    justify-content: center;
    font-size: 1em;
    text-transform: uppercase;
  }

  .listen-back  li {
    display: inline;
    padding-left: 20px;
    color: white;
  }
  
  .song-title {
    font-size: 1.4rem;
  }

  .back-title {
    top: 7rem;
    font-size: 1.5rem;
  }

  .back-type {
    top: 9rem;
  }

  .listen-back {
    top: 13.5rem;
  }

  .first-song-contain {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .left-work {
    display: flex;
    flex-direction: column;
  }

  .left-work {
    height: 100%;
  }

  .album-cover {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (min-width: 991px) {
  .footer-nav {
    display: flex;
    position: static;
    padding: 10px;
    padding-top: 30px;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;

  }

  .swiper-button-prev, .swiper-button-next {
    display: block;
  }

  .social-nav {
    flex: 1;
  }

  .iam-contain {
    display: flex;
    
  }

  .candle-contain {
    display: block;
  }

  .candle-contain img {
    max-width: 900px;
    width: 100%;
    align-self: flex-end;
    margin-top: 40%;
  }

  .bio-content {
    margin-top: 20%;
    width: 95%;
  }

  .signature {
    width: 30%;
    float: right;
    margin-right: 50px;
  }

  .work-cards {
    background: #cdd7dd;
    width: 100vw;
    height: 100%;
    padding: 6rem 0 15rem;
  }

  .card-contain {
    width: 400px;
    height: 490px;
  }

  .top-card {
    height: 90%;
  }

  .bottom-card {
    height: 25%;
  }

  .listen-contain {
    height: 30px;
  }

  .flip-container, .front, .back {
    width: 25rem;
    height: 25rem;
    margin-bottom: 20px;
  }

  .listen-back  li {
    display: inline;
    padding-left: 20px;
    color: white;
  }

  .swiper-container {
    height: 15rem;
  }

  .connect {
    background: #cdd7dd;
    height: 100vh;
  }

  .input-wrapper {
    width: 60%;
    flex: 1;
    margin-left: 5rem;
    margin-top: 5rem;
  }

  .connect-img {
    flex: 2;
    display: block;
    margin: 0;
    max-width: 1200px;
    margin-bottom: 156px;
  }

  .connect-img-contain {
    width: 60%;
    height: auto;
  }

  .connect-img {
    width: 100%;
  }

  .connect-content {
    display: flex;
    margin: 0 auto 5rem;
  }
}

@media screen and (min-width: 1199px) {
  .social-nav {
    flex: 1;
    padding-left: 0;
    padding-right: 100px;
    justify-content: space-between;
  }

  .footer-nav {
    padding-left: 100px;
    padding-right: 400px;
  }

  .work {
    background-position: 50% 0;
    
  }

  .work-cards {
    padding: 10.5rem 0 10.5rem 0;
    margin-bottom: 42px;
    }

  .swiper-button-prev {
    margin-left: 15px;
  }

  .connect-content {
    margin: 0 auto 5rem;
  }

  .connect-img-contain {
    width: 60%;
    height: auto;
  }

  .connect-img {
    width: 100%;
  }

  .input-wrapper {
    margin-left: 5rem;
  }

  .flip-container, .front, .back {
    width: 25rem;
    height: 25rem;
    margin-bottom: 20px;
  }

  .back-title {
    top: 10rem;
    font-size: 1.2rem;
  }

  .back-type {
    top: 12rem;
  }

  .listen-back {
    top: 18rem;
  }

  .img1 {
    background-position: top;
  }
}

@media screen and (min-width: 1800px) {
  .swiper-container {
    height: 25rem;
  }

  .nav {
    font-size: 2rem;
  }

  .is-active {
    font-size: 2.1rem;
  }

  .app-logo {
    width: 19rem;
    height: auto;
    padding: 25px 9px 25px 15px;
  }

  .header-nav {
    margin-top: 10px;
  }

  .footer-nav {
    display: flex;
    position: static;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .connect-content {
    width: 100%;
    margin: 0 auto 5rem;
  }

  .input-wrapper {
    margin: 9rem 0 0 15rem;
    flex:1
  }

  .connect-img-contain {
    width: 70%;
    height: auto;
  }

  .iam-contain {
    width: 70%;
    margin: 0 auto;
  }
  .card-contain {
    width: 400px;
    height: 550px;
  }

  .flip-container, .front, .back {
    width: 40rem;
    height: 40rem;
  }

  .work {
    height: 100%;
  }

  .work-cards {
    height: 100%;
  }
  
  .back-title {
    top: 15rem;
    font-size: 3rem;
  }

  .back-type {
    top: 18rem;
    font-size: 1.7rem
  }

  .back-link {
    font-size: 2rem;
  }

  .listen {
    font-size: 2rem;
  }

  .listen-back {
    top: 30rem;
    font-size: 1rem;
  }
}


